#main {
    background-color: #ccc;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

#img-div {
    background-color: white;
    padding: 20px;
    width: 60%;
    margin: auto;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

#image {
    display: block;
    margin: auto;
    max-width: 50%;
    border-radius: 50%;
    -moz-box-shadow:    0 0 2px #000000;
    -webkit-box-shadow: 0 0 2px #000000;
    box-shadow:         0 0 2px #000000;
}

#image:hover {
    -moz-box-shadow:    0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow:         0 0 5px #000;
}

#tribute-info h2::after {
    content: "";
    display: block;
    width: 120px;
    background-color: black;
    height: 3px;
    margin: auto;
    margin-top: 20px;
}

#tribute-info ul {
    padding: 0;
}

#tribute-info li {
    list-style: none;
    padding-bottom: 10px;
}

#tribute-info a {
    display: inline;
}

.texture {
    background-color: white;
    padding:10px;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

/*responsive*/

@media (max-width: 900px) {
    #image {
        max-width: 80%;
    }
}
